<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>datastore</servlet-name>
		<servlet-class>cs263w16.DatastoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>datastore</servlet-name>
		<url-pattern>/datastore</url-pattern>
	</servlet-mapping>

	<!-- guestbookservlet -->

	<servlet>
		<servlet-name>guestbook</servlet-name>
		<servlet-class>cs263w16.GuestbookServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sign</servlet-name>
		<servlet-class>cs263w16.SignGuestbookServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sign</servlet-name>
		<url-pattern>/sign</url-pattern>
	</servlet-mapping>

	<!-- <welcome-file-list> <welcome-file>guestbook.jsp</welcome-file> </welcome-file-list> -->

	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>cs263w16.OfyHelper</listener-class>
	</listener>

	<!-- -->


	<servlet>
		<servlet-name>enqueue</servlet-name>
		<servlet-class>cs263w16.Enqueue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enqueue</servlet-name>
		<url-pattern>/enqueue</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>cs263w16.Worker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>worker</servlet-name>
		<url-pattern>/worker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mail</servlet-name>
		<servlet-class>cs263w16.MailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mail</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>cs263w16.cron.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/cron/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register resources and providers under com.vogella.jersey.first package. -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>cs263w16</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
	<web-resource-collection>
			<web-resource-name>mail</web-resource-name>
			<url-pattern>/mail</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>cron</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>