<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>datastore</servlet-name>
        <servlet-class>cs263w16.DatastoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>datastore</servlet-name>
        <url-pattern>/datastore</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>enqueue</servlet-name>
		<servlet-class>cs263w16.Enqueue</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>enqueue</servlet-name>
        <url-pattern>/enqueue</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>worker</servlet-name>
		<servlet-class>cs263w16.Worker</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>worker</servlet-name>
        <url-pattern>/worker</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
         <!-- Register resources and providers under com.vogella.jersey.first package. -->
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>cs263w16</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>
